<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gov.doc.engine.mapper.DocTemplateMapper">

    <resultMap id="BaseResultMap" type="com.gov.doc.engine.entity.DocTemplate">
        <id column="id" property="id"/>
        <result column="template_code" property="templateCode"/>
        <result column="template_name" property="templateName"/>
        <result column="template_type" property="templateType"/>
        <result column="template_category" property="templateCategory"/>
        <result column="version" property="version"/>
        <result column="is_current_version" property="isCurrentVersion"/>
        <result column="parent_template_id" property="parentTemplateId"/>
        <result column="status" property="status"/>
        <result column="description" property="description"/>
        <result column="unit_code" property="unitCode"/>
        <result column="unit_name" property="unitName"/>
        <result column="security_level" property="securityLevel"/>
        <result column="urgency_level" property="urgencyLevel"/>
        <result column="permission_roles" property="permissionRoles"/>
        <result column="permission_users" property="permissionUsers"/>
        <result column="permission_depts" property="permissionDepts"/>
        <result column="remark" property="remark"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, template_code, template_name, template_type, template_category, version,
        is_current_version, parent_template_id, status, description, unit_code, unit_name,
        security_level, urgency_level, permission_roles, permission_users, permission_depts,
        remark, create_by, create_time, update_by, update_time, deleted
    </sql>

</mapper>
